body {
    margin: 0;
    padding: 0;
}

.ada-control-form {
    margin-bottom: 1em
}

.ada-border {
    height: auto;
    border: 1px solid rgb(208, 208, 208);
}

.ada-margin-top {
    margin-top: 1em;
}

.ada-btn {
    margin-bottom: 1em;
}

.ada-canvas {
    border: 1px solid #000000;
}

.control-readonly {
    margin-left: 0.5em
}
