{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agni's Training</title>
    <link rel="stylesheet" href={% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
 
</head>
<body>
    {% include "mechanism/navigator.html" %}
    <div class="container-fluid ada-margin-top">
        <div class="row">
            <div class="col-2">
                    <div class="container ada-control-form ada-border">
                        <center>
                            <h3>Control Panel</h3>
                        </center>
                        <hr>
                         {% for control_id in control %} 
                            {% block control_panel_form %} 
                                {{control_id}} 
                            {% endblock control_panel_form %} 
                        {% endfor %}
                    </div>
            </div>
            <div class="col-10">
                {% block workspace %}
                
                {% endblock workspace %}
            </div>
        </div>
    </div>
    <script src={% static 'node_modules/jquery/dist/jquery.min.js' %}></script>
    <script src={% static 'node_modules/jquery-form/dist/jquery.form.min.js' %}></script>
    <script src={% static 'node_modules/jcanvas/dist/min/jcanvas.min.js' %}></script>
    <script src={% static 'js/adaControl.js' %}></script>
    
</body>
</html>