{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agni's FacialValidation</title>
    <link rel="stylesheet" href={% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
 
</head>
<body>
    {% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Agni's Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    {% endblock navigation %}
    <div class="container-fluid ada-margin-top">
        <div class="row">
            <div class="col-2">
                    <div class="container ada-control-form ada-border">
                        <center>
                            <h3>Control Panel</h3>
                        </center>
                        <hr>
                         {% for control_id in control %} 
                            {% block control_panel_form %} 
                                {{control_id}} 
                            {% endblock control_panel_form %} 
                        {% endfor %}
                    </div>
            </div>
            <div class="col-10">
                {% block workspace %}
                
                {% endblock workspace %}
            </div>
        </div>
    </div>
    <script src={% static 'node_modules/jquery/dist/jquery.min.js' %}></script>
    <script src={% static 'node_modules/jquery-form/dist/jquery.form.min.js' %}></script>
    <script src={% static 'node_modules/jcanvas/dist/min/jcanvas.min.js' %}></script>
    <script src={% static 'js/adaControl.js' %}></script>  
</body>
</html>