{% extends "FacialValidationApp/base_site.html" %}

{% block workspace %}
    <canvas id="compare" width="600" height="550"></canvas>
{% endblock workspace %}

{% block controls %}
    <input type="file" value="load a model" id="loadjs"/>
{% endblock controls %}

{% block scripts %}
    <script src="/static/build/clmtrackr.js"></script>
    <script src="/static/js/models/model_pca_20_svm.js"></script>
    <script src="/static/js/libs/dat.gui.min.js"></script>
    <script src="/static/js/face-pca.js"></script>
    <script src="/static/js/face3d.js"></script>
{% endblock scripts %}